<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <title>HowMuch - Price Scraper Tool</title>
</head>
<body class="bg-gray-100">
    <nav class="flex items-center justify-center bg-gray-300 h-32 px-4 py-4">
        <div>
            <img src="/static/img/4e8eaf35-bad7-483f-b35c-486ed99de69b_200x200.png">
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>